In [1]:
x = 0
y = 5

if x < y :
    print('yes')

yes

In [2]:
if x > y :
    print('yes')

In [3]:
if 'aul' in 'braul':
    print('yes')

yes

In [4]:
x = 0
y = 5

if x < y :
    print('yes')
if y < x :
    print('yes')
if x:
    print('yes')
if y :
    print('yes')
if 'aul' in 'grault':
    print('yes')
if 'quux' in ['foo','bar','baz']:
    print('yes')

yes
yes
yes

In [5]:
if 'foo' in ['bar','baz','qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
print('After conditional')

After conditional

In [6]:
if 'foo' in ['foo','bar','baz']:
    print('Outer condition is true')
    
    if 10>20:
        print('Inner condition 1')
    print('Between inner condition')
    if 10<20:
        print('Inner condiiton 2')
    
    print('End of outer condition')
print('After outer condition')

Outer condition is true
Between inner condition
Inner condiiton 2
End of outer condition
After outer condition

In [7]:
x = 20
if x < 50:
    print('(first suite)')
    print('x is small')
else :
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [8]:
x = 120
if x < 50:
    print('(first suite)')
    print('x is small')
else :
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [9]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print('beli buku')
else :
    print('uang tidak cukup')

uang tidak cukup

In [10]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print('beli buku')
elif uang > hargaMajalah :
    print('beli majalah')
else :
    print('uang tidak cukup')

uang tidak cukup

In [11]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print('beli buku')
elif hargaBuku > hargaMajalah :
    print('beli majalah')
else :
    print('uang tidak cukup')

beli majalah

In [12]:
name = 'Hacktiv8'

if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are")

Hello Hacktiv8

In [13]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print('wont happen')
elif var:
    print('wont happen')

foo

In [14]:
if 'f' in 'foo':print('1');print('2');print('3')

1
2
3

In [15]:
if 'f' in 'zoo':print('1');print('2');print('3')

In [16]:
x = 2
if x == 1: print('foo');print('bar');print('baz')
elif x == 2:print('qux');print('quux')
else:print('corge');print('grault')

qux
quux

In [17]:
x = 3
if x == 1: print('foo');print('bar');print('baz')
elif x == 2:print('qux');print('quux')
else:print('corge');print('grault')

corge
grault

In [18]:
x = 3
if x == 1: 
    print('foo')
    print('bar')
    print('baz')
elif x == 2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

corge
grault

In [19]:
raining = False
print("Let's go to the",'beach' if not raining else 'library')

Let's go to the beach

In [20]:
raining = True
print("Let's go to the",'beach' if not raining else 'library')

Let's go to the library

In [21]:
age = 12
s = 'teen'if age<21 else 'adult'

In [22]:
age = 12
s = 'teen'if age<21 else 'adult'
s

'teen'

In [23]:
yes if ('qux'in['foo','bar','baz'])else 'no'

'no'

In [24]:
a = 10
b = 20
m = a if a < b else m = b

SyntaxError: cannot assign to conditional expression (70286215.py, line 3)

In [25]:
a = 10
b = 20
m == a if a < b else m == b

NameError: name 'm' is not defined

In [26]:
a = 10
b = 20
m = a if a > b else b

In [27]:
a = 10
b = 20
m = a if a > b else b
m

20

In [28]:
if True:
print('foo')

IndentationError: expected an indented block (3474547535.py, line 2)

In [29]:
if True:
    pass
print('foo')

foo

In [30]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [31]:
i = 1
while i<6:
    print(i)
    i += 1

1
2
3
4
5

In [32]:
n = 5
while n > 0:
    n -= 1
    if m == 2:
        break
    print(n)
print('Loop ended.')

4
3
2
1
0
Loop ended.

In [33]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [34]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

In [ ]:
n = 5
while n > 0:
    n -= 1
    print (n)
else :
    print('Loop done.')